<div class="container">
    <h1>Add Appartment</h1>
    <form [formGroup]="addAppForm" >
        <div class="row mb-3">
          <label for="terrasse" class="col-sm-2 col-form-label">Terasse</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="terrasse" formControlName="terrasse" id="inputTerasse">
            <div *ngIf="terrasse!.touched && terrasse!.errors?.['required']" class="alert alert-danger m-2">Terasse is required.</div>
            <div *ngIf="terrasse!.touched && terrasse!.errors?.['minlength']" class="alert alert-danger m-2">Terasse must have at least 3 caracters.</div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumAppart" class="col-sm-2 col-form-label">Appartment NB</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="numAppart" formControlName="numAppart" id="inputNumAppart">
            <div *ngIf="numAppart!.touched && numAppart!.errors?.['required']" class="alert alert-danger m-2">Appartment NB is required.</div>
            <div *ngIf="numAppart!.touched && numAppart!.errors?.['min']" class="alert alert-danger m-2">Appartment NB can't be negative.</div>
          </div>
        </div>
         <button type="submit" (click)="addApp()" [disabled]="addAppForm.invalid" class="btn btn-primary">Add</button>
      </form>
</div>